/*Primeiros Passos da Linguagem*/
body {
   
}
#bodyindex {
   
}
p {
    text-align: center;
}
h2 {
    text-align: right;
}
table {
    border: black 10px;
}
/*Estilização do Menu*/
#bodymenu {
    
}